.git
.github
.next
.vercel
app
components
public
node_modules
npm-debug.log*
worker/.auth
worker/output
.env
.env.local
coverage
dist
README.md
LICENSE
next-env.d.ts
next.config.mjs
vercel.json
railway.json
